@using System.Data;
@{
    ViewBag.Title = "Index";
    DataTable PricingDataTable = Model;
}
<div class="container-fluid">
    <h4>Add Pricing via Excel</h4>
    <hr />
    @using (Html.BeginForm("UploadPricing", "ManagePricing", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
    {
        <div class="form-horizontal">
            <div class="form-group">

                <div class="control-label col-md-2">Excel:</div>
                <div class="col-md-10">
                    <input type="file" id="FileUpload" name="FileUpload" class="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                </div>
            </div>
        </div>
    }

</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead><tr><th>Col 1</th><th>Col 2</th><th>Col 3</th></tr></thead>
        <tbody>
            @foreach (DataRow row in PricingDataTable.Rows)
            {

            }
        </tbody>
    </table>
</div>
